
<a href="/shelters">All Shelters</a>
<h1><%= @shelter.name %></h1>
<ul>
  <li>Address: <%= @shelter.address %></li>
  <li>City: <%= @shelter.city %></li>
  <li>State: <%= @shelter.state %></li>
  <li>Zip: <%= @shelter.zip %></li>
</ul>

<a href="/shelter/<%= @shelter.id %>/edit">Update Info</a>
